<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GraphUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="GraphUI.Service">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8732/WpfGraphService/"   />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address=""  binding="netTcpBinding" contract="WpfGraphService.IService" bindingConfiguration="netTcpBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" maxReceivedMessageSize="200000" maxBufferSize="200000" maxBufferPoolSize="200000"/>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <userSettings>
    <GraphUI.Properties.Settings>
      <setting name="ArchiveEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArchiveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxArchiveSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ImageWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="ImageHeight" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="HistoryEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumPagesHistory" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AutoNavigate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OptionsLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="OptionsTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainLeft" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MainTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MainWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="MainHeight" serializeAs="String">
        <value>700</value>
      </setting>
    </GraphUI.Properties.Settings>
  </userSettings>
</configuration>
